extends ../layoutloggedin

block content
  #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') &times;
          
          h4#myModalLabel.modal-title Temporarily Add a Guest
              
        .modal-body
          .form-group.col-md-3
            input.form-control#GuestFName(type='text', placeholder="First Name")
          .form-group.col-md-3
            input.form-control#GuestLName(type='text', placeholder="Last Name")
          .form-group.col-md-6
            input.form-control#GuestEmail(type='email', placeholder="Email")
              
        .modal-footer
          button.btn#AddGuest(type='button' data-dismiss="modal") + Add Guest
          
  #MainContainer.container
        .row.whos-this-for
          .col-md-12.whos-this-for
            h3 Order Review
        .container
          .col-md-6
            p=teamname
        .container
          #TeamReviewCol.col-md-6
            h4 Team Members
            .col-md-12.teamtogglelist
              -for (i=0; i<teammembers.length; i++){
                  .row.teammemberrow(id="teammembertoggle"+i)
                    .col-md-2.hidden-xs
                      p.btn-circle=teammembers[i].initials
                    .col-xs-8
                      p=teammembers[i].firstname+" "+teammembers[i].lastname
                      p=teammembers[i].email      
                    .col-md-2
                      .switch
                        input.cmn-toggle.cmn-toggle-round-flat(type='checkbox' checked id="cmn-toggle-"+i)
                        |   
                        label(for='cmn-toggle-'+i)
                    hr.teammemberreview
               -}
            button#AddTeamMember.btn.col-xs-offset-7.col-xs-5(type='button', data-toggle='modal', data-target='#myModal') + Add Guest

          .col-md-6#OrderDetailsForm
            form.teamorderinfo(method='POST' action='/reviewandpay')
              input(type='hidden', name='_csrf', value=_csrf)
              //this hiddden team is what really gets subbmitted.
              .hiddenTeam 
                input(type='hidden', name='teamname', value=teamname)
                -for (i=0; i<teammembers.length; i++){
                    .row.teammemberrow(id="teammemberform"+i)
                      .col-md-12
                        .form-group.col-md-3
                          input.form-control(type='text',name='teamMemberFName'+i , value=teammembers[i].firstname)
                        .form-group.col-md-3
                          input.form-control(type='text',name='teamMemberLName'+i, value=teammembers[i].lastname)
                        .form-group.col-md-6
                          input.form-control(type='text',name='teamMemberEmail'+i, value=teammembers[i].email)
                      hr.teammemberreview(name="testingadd")
                 -}
              h4 Delivery time
              .row
                .form-group.col-xs-6
                  select#sel1.form-control(type='text', name='deliverytime')
                    option(value='', disabled='', selected='')
                      | Select Time                   
                    option 12:30-1:00pm                   
                    option 1:00-1:30pm
                    option 1:30-2:00pm
                    option 2:00-2:30pm
                    option 3:00-3:30pm
                #HiddenVoteTime.form-group.col-xs-6.hiddenTeam
                  input.form-control(type='number', name='votingtime')
              .col-xs-12.disclosuretime(style="text-align:center")
              h4 Delivery Location
                .row
                  .form-group.col-xs-12
                    input.form-control#Address(type='text',name='address', placeholder="Address")
                .row
                  .form-group.col-xs-6
                    input.form-control#City(type='text',name='city', placeholder="City")
                  .form-group.col-xs-6
                    select#Sel.form-control(type='text',name='state', placeholder="State")
                      option(value='', disabled='', selected='')
                        | Select State
                      option(value='AL') Alabama
                      option(value='AK') Alaska
                      |                      
                      option(value='AZ') Arizona
                      |                      
                      option(value='AR') Arkansas
                      |                      
                      option(value='CA') California
                      |                      
                      option(value='CO') Colorado
                      |                      
                      option(value='CT') Connecticut
                      |                      
                      option(value='DE') Delaware
                      |                      
                      option(value='DC') District Of Columbia
                      |                      
                      option(value='FL') Florida
                      |                      
                      option(value='GA') Georgia
                      |                      
                      option(value='HI') Hawaii
                      |                      
                      option(value='ID') Idaho
                      |                      
                      option(value='IL') Illinois
                      |                      
                      option(value='IN') Indiana
                      |                      
                      option(value='IA') Iowa
                      |                      
                      option(value='KS') Kansas
                      |                      
                      option(value='KY') Kentucky
                      |                      
                      option(value='LA') Louisiana
                      |                      
                      option(value='ME') Maine
                      |                      
                      option(value='MD') Maryland
                      |                      
                      option(value='MA') Massachusetts
                      |                      
                      option(value='MI') Michigan
                      |                      
                      option(value='MN') Minnesota
                      |                      
                      option(value='MS') Mississippi
                      |                      
                      option(value='MO') Missouri
                      |                      
                      option(value='MT') Montana
                      |                      
                      option(value='NE') Nebraska
                      |                      
                      option(value='NV') Nevada
                      |                      
                      option(value='NH') New Hampshire
                      |                      
                      option(value='NJ') New Jersey
                      |                      
                      option(value='NM') New Mexico
                      |                      
                      option(value='NY') New York
                      |                      
                      option(value='NC') North Carolina
                      |                      
                      option(value='ND') North Dakota
                      |                      
                      option(value='OH') Ohio
                      |                      
                      option(value='OK') Oklahoma
                      |                      
                      option(value='OR') Oregon
                      |                      
                      option(value='PA') Pennsylvania
                      |                      
                      option(value='RI') Rhode Island
                      |                      
                      option(value='SC') South Carolina
                      |                      
                      option(value='SD') South Dakota
                      |                      
                      option(value='TN') Tennessee
                      |                      
                      option(value='TX') Texas
                      |                      
                      option(value='UT') Utah
                      |                      
                      option(value='VT') Vermont
                      |                      
                      option(value='VA') Virginia
                      |                      
                      option(value='WA') Washington
                      |                      
                      option(value='WV') West Virginia
                      |                      
                      option(value='WI') Wisconsin
                      |                      
                      option(value='WY') Wyoming

                  .form-group.col-xs-4
                    input.form-control#PostalCode(type='text',name='postalcode', placeholder="Postal Code")
              h4 Contact Information
                .row
                  .form-group.col-xs-12
                    input.form-control#PhoneNumber(type='text',name='phone' placeholder="Phone")
              h4 Minimum Team Member Amount
              p.teammin If team members opt out of Gather, I want;
                  .form-group.row.teammin(style="margin-bottom:0px")
                    div(style="width: 30%; margin-right:5px; float: left;padding-top: 8px;") A minimum of 
                    div.form-group(style="width: 15%;float: left;margin-right: 15px;")
                      select#sel2.form-control(type='text',name='minteamsize')
                        option 6
                        |                   
                        option 7
                        |                   
                        option 8
                        |                   
                        option 9
                        |                   
                        option 10        
                    div(style="padding-top: 8px;") lunches no matter what,
                  .form-group.row.teammin
                    div(style="width: 10%; margin-right:15px; float: left;padding-top: 8px;") with    
                    .form-group(style="width: 50%; margin-right:5px; float: left;")
                      select#sel3.form-control(type='text',name='defaultfoodmood')
                        option(value='', disabled='', selected='')
                          | Food Mood
                        option Hearty
                        |                   
                        option Healthy
                        |                   
                        option Light
                        |                   
                        option Comforting
                        |                                 
                    div(style="width: 28%; margin-right:5px; float: left;padding-top: 8px;") preselected.  
              .row    
                .col-md-12.disclosure
                  | (Dont worry we will refund the difference from your full order)<br><br> If less than 6 members opt in, Gather will send you and email giving you the option to cancel the order or proceed with 6 peoples worth of food.
              .row
                h4 Total
                .row
                  #TotalCost.col-xs-2.teammin="$"+teammembers.length*10
                    
                  .col-xs-3.teammin.unitcost
                    | ($10/person)
                    
              button#SaveTeam.btn.btn-default.col-xs-6.col-xs-offset-3(type='submit') Review Order
  
