extends ../layoutloggedin

block content
  #MainContainer.container
        .row
          .col-xs-10
            h3 Order confirmation
          .col-xs-2
            img(style="width:20px;" src='/img/edit.png') 
        .row
          .col-xs-3
            h4 Order Date
            p=orderfordate
            h4 Team
            p=teamname
          .col-xs-3
            h4 Deliver To
            p=username
            p=address
            p=city
            p=postalcode
            p=phone
          .col-xs-3
            h4 Delivery time
            p=deliverytime
          .col-xs-3
            h4 Minimum Team Instructions
            p A minimum of #{teamminimum} lunches will be ordered no matter. If teammembers don't vote meals will be chosen with a #{defaultfoodmood} food mood.
        .row
          #TeamOrderContainer.container
            .row
              h4 Order Information
            -for member in ordermembersarray
              .row
                .col-xs-2=member.initials
                .col-xs-5=member.firstname+" "+member.lastname
                .col-xs-4=member.email
                .col-xs-1 $10
                hr
  button#SaveTeam.btn.btn-default.col-xs-6.col-xs-offset-3(type='submit') Review Order

            
          
