extends ../layoutloggedin

block content
  #MainContainer.container
        .row
          .col-xs-10
            h3 Order Confirmation
          
          a#PrintButton.col-xs-1.btn(href="#print")
            img(style="width:20px; margin-bottom:6px;" src='/img/print@2x.png') 
            p.printcaption 
              | print
        .row
          .col-xs-3
            h4 Order Date
            p=orderfordate
            h4 Team
            p=teamname
          .col-xs-3#ReviewAddress
            h4 Deliver To
            p=username
            p=address
            p=city
            p=postalcode
            p=phone
          .col-xs-3
            h4 Delivery time
            p=deliverytime
          .col-xs-3
            h4 Minimum Team Instructions
            p Min. of #{teamminimum} Default #{defaultfoodmood} food mood.
        #TeamOrderContainer.col-xs-12
          .row.orderinfoheader
            h4 Order Information
          div 
            -for member in ordermembersarray
              .ordermemberrow
                .col-xs-1.btn-circle.hidden-xs=member.initials
                .col-xs-4.ordername=member.firstname+" "+member.lastname
                .col-xs-4.orderemail=member.email
                .col-xs-1.col-xs-offset-2.orderamt $10
          .col-sm-2.col-sm-offset-11
            h4#OrderTotal| Total:$ #{totalcost}
        form(method='POST')
          input(type='hidden', name='_csrf', value=_csrf)
          input(type='hidden', name='stripeTotalAmount', value=totalcost)
          input(type='hidden', name='gatherorderid', value=orderid)
          script(
          src='https://checkout.stripe.com/checkout.js',
          class='stripe-button',
          data-key=publishableKey,
          data-image='/img/GatherLogoforStripe@2x.png',
          data-name='Gather Round Lunch',
          data-description= "for " +teamname+ " $" +totalcost,
          data-amount=totalcost*100
          )


          
        
