.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/')
        img(src='/img/logo_navbar.png')
        //- i.fa.fa-cube
        //- | Project name
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        if !user
          //- li(class=title=='Home'?'active':undefined)
          //-   a(href='#Top') Home
          li(class=title=='Our Mission'?'active':undefined)
            a(data-scroll='', href='#OurMission') Our Mission
          li(class=title=='Features'?'active':undefined)
            a(data-scroll='', href='#Features') Features
          li(class=title=='How It Works'?'active':undefined)
            a(data-scroll='', href='#HowItWorks') How It Works  
          li(class=title=='Partners'?'active':undefined)
            a(data-scroll='', href='#Partners') Partners
          li(class=title=='Signup'?'active':undefined)
              a(data-scroll='', href='#Signup') Signup
          
      ul.nav.navbar-nav.navbar-right
        if !user
          li#menuLogin.dropdown
            a#navLogin.dropdown-toggle(href='#', data-toggle='dropdown') Log In
            .dropdown-menu(style='padding:20px; background-color: #f8f8f8;')
              form#formLogin.form(method="POST" action='/login')
                input(type='hidden', name='_csrf', value=_csrf)
                input.form-control(type='email', name='email', id='email', placeholder='Email', autofocus=true)
                input.form-control(type='password', name='password', id='password', placeholder='Password')
                br
                button#btnLogin.btn(type='submit') Log In
                a#ForgotLink.btn.btn-link(href='/forgot') Forgot your password?
            
        else
          li.dropdown(class=title=='Account Management'?'active':undefined)
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              if user.profile.picture
                img(id='ProfilePic' src='#{user.profile.picture}')
              else
                img(id='ProfilePic' src='#{user.gravatar(60)}')
              | #{user.profile.name || user.email || user.id}&nbsp;
              i.caret
            ul.dropdown-menu
              li
                a(href='/dashboard') Dashboard              
              li
                a(href='/teams') Teams

              li
                a(href='/account') Account
              li.divider
              li
                a(href='/logout') Log out
                    
                    
